aside{
  float: right;
  width: 350px;
  background-color: var(--primary-color);
  border: 1px solid var(--gray-color-dark);
  margin-top: 120px;
  color: white;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 2px 5px 3px var(--gray-color);

}

legend{
  font-weight: bold;
}

fieldset{
  border: 0.1px solid var(--color-text);

}

aside h3{
  font-size: 18px;
  text-transform:uppercase;
  background-color: var(--color-text);
  text-align: center;
  font-family: "NunitoSans-Bold", Arial, Helvetica, sans-serif; 
  text-shadow: 3px 2px 3px black;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-top: 1px solid var(--secondary-color-dark);
  border-bottom: 1px solid var(--secondary-color-dark);
  box-sizing:border-box ;
  width: 100%;
 
}

.widget{
  margin-bottom: 60px;
}

.widget form input[type="email"], .widget form input[type="password"]{
  width: 100%;
  color: var(--color-text);
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;

}

.widget form input[type="submit"]{
  width: 100%;
  background-color: var(--color-text);
  color: white;
  font-weight: bold;
  text-transform:uppercase;
  text-shadow: 3px 2px 3px black;
  padding: 5px;


}
 

