
html, 
 body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"NunitoSans-Regular", Arial, Helvetica, sans-serif;
  

}

#container{
  max-width: 1400px;
  margin: 0 auto;
}



 .text-secondary{
  color:var(--secondary-color) ;

 }

 a{
  text-decoration: none;
  color: var(--gray-color);
  transition:all 0.3s ;
 }

 a:hover{
  color:var(--primary-color-dark);

 }

ul{ 
  list-style: none;
  margin: 0;
  padding: 0;
}

 