#content{
  float:right;
  width: calc(100% - 18%);
  margin-top: 120px;
  padding: 0 10px;
  box-sizing: border-box;
  
}


#content h1{
  margin: 0;
  font-size: 3em;
  color:var(--primary-color);
  text-shadow: 2px 2px 5px var(--gray-color);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family: "NunitoSans-Bold", Arial, Helvetica, sans-serif;

}


.descuentos{
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
  color: var(--color-text);
  text-shadow: 5px 3px 5px red);
  font-family: "NunitoSans-Bold", Arial, Helvetica, sans-serif;
}

.text-secondary-promociones{
  color: var(--color-text);
  font-weight: bold;
  text-shadow: 5px 3px 1px var(--gray-color);
  font-family: "NunitoSans-Bold", Arial, Helvetica, sans-serif;
  text-align: center; 

}

#content article{
  float: left
  background-color:var(--gray-color);
  padding: 40px;
  margin-bottom: 18px;
  margin-top: 10px;
  border: solid 1px var(--gray-color);
  box-shadow: 2px 2px var(--secondary-color-dark);
}
  #content article h2{
    margin: 0;
    color: var(--secondary-color);
  }

  a[href="#"]{
  color: var(--color-text);
  font-weight: bold;
  text-shadow: 1px 2px 1px var(--gray-color);
  font-family: "NunitoSans-Bold", Arial, Helvetica, sans-serif;
  }
  #content article a{
    font-size: 20px;
    float: right;
      }

  .pagination{
    float: right;
    

  }

  .pagination > li {
    display: inline-block;
    color: white;

  }
  .pagination > li a{
    padding: 5px 10px;
    background-color: white;
    border: solid 1px red;
  }
  .pagination > li a:hover{
    padding: 5px 10px;
    background-color: var(--primary-color);
    border: solid 1px rgb(56, 7, 236);
    color: var(--gray-color);
  }

@media (max-width:700px){
  #content{
    width: 100%;
  }
}