footer  {
  float: left;
  width:100% ;
  background-color: var(--gray-color-dark);
  color: white;
  height: 200px;
  padding: 30px;
  margin-top: 40px;
  box-sizing: border-box;
 text-align: center;
 font-size: 14px;
 border-radius: 10px;
}

footer a{
  color:white;
  font-size: 14px;
  text-decoration:none ;
  
}

footer a:hover{
  color:var(--gray-color) ;
  transition: all 3s red;

}
footer div:hover{
  color:var(--gray-color) ;
  transition: all 3s red;

}

footer div{
  margin-bottom: 15px;
}