
<aside>
  <div class="widget">
    <h3>Inicio de sesion</h3>
    <form action="">
      <fieldset >
        <legend>Ingeso a Joyeria Santorini</legend>
          <input type="email" name="email" id="email"
           placeholder="Escriba su email"
        /><br /><br />
        <input type="password" name="password"
          id="password"  placeholder="Escriba la contraseña"
        /><br /><br />
        <input type="submit" value="Ingresar" />
      </fieldset>
    </form>
  </div>

  <div class="widget">
    <h3>Blog</h3>
    <ul>
      <li><a href="#">Historia del Oro</a></li>
      <li><a href="#">Inicio de Joyeria Santorini</a></li>
      <li><a href="#">Acreedores de Joyeria Santorini</a></li>
      <li><a href="#">Contáctanos</a></li>
      <li><a href="#">Tienda</a></li>
    </ul>  
  </div>

  <div class="widget">
    <h3>Frase del dia Joyeria Santorini</h3>
    <blockquote>
      Lo mejor de Joyeria Santorini son sus clientes y joyas.
    </blockquote>
  </div>
</aside>