

<section id="content">
  <h1><h1>Enterate de lo mejor de <span class="text-secondary-promociones">Joyeria Santorini</span></h1>
  
  <article>
    <h3>Promociones del mes</h3>
    <p>
      Somos fabricantes. Argollas, cadenas, dijes, aretes, esclavas. Haz que tus momentos sean inovidables. Le asesoramos en mejorar su look y vestir escogiendo las mejores joyas de nuestra tienda.
      <span class="descuentos">Estamos con descuento del 10%. Tiempo limitado</span>
    </p>
    <a href="#">Ver mas Joyas...</a>
  </article>

  <article>
    <h3>Nuestros Productos</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
      praesentium cupiditate iste ullam ex quis corporis illum aliquam nam
      molestiae!
    </p>
    <a href="#">Ver mas promociones...</a>
  </article>

  <article>
    <h3>Historia Joyeria Santorini</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
      praesentium cupiditate iste ullam ex quis corporis illum aliquam nam
      molestiae!
    </p>
    <a href="#">Ver mas Articulos...</a>
  </article>

  <article>
    <h3>Historia Joyeria Santorini</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
      praesentium cupiditate iste ullam ex quis corporis illum aliquam nam
      molestiae!
    </p>
    <a href="#">Ver mas Joyas..</a>
  </article>
</section>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">23</a></li>
  </ul>
