

<section id="content">
  <h1>Ultimas noticias</h1>
  <article>
    <h2>Historia Joyeria Santorini</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
      praesentium cupiditate iste ullam ex quis corporis illum aliquam nam
      molestiae!
    </p>
    <a href="#">Ver mas Joyas</a>
  </article>

  <article>
    <h2>Historia Joyeria Santorini</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
      praesentium cupiditate iste ullam ex quis corporis illum aliquam nam
      molestiae!
    </p>
    <a href="#">Ver mas promociones</a>
  </article>

  <article>
    <h2>Historia Joyeria Santorini</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
      praesentium cupiditate iste ullam ex quis corporis illum aliquam nam
      molestiae!
    </p>
    <a href="#">Ver mas Articulos</a>
  </article>

  <article>
    <h2>Historia Joyeria Santorini</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
      praesentium cupiditate iste ullam ex quis corporis illum aliquam nam
      molestiae!
    </p>
    <a href="#">Ver mas Joyas</a>
  </article>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">23</a></li>
  </ul>
</section>