
<nav id="main-menu">
  <ul>
    <li><a href="index.html">Inicio</a></li>
    <li>
      <a>Categorias</a>
      <ul>
        <li><a href="tienda.html">Anillos</a></li>
        <li><a href="cuenta.html">Pendientes</a></li>
        <li><a href="contacto.html">Collares</a></li>
        
      </ul>
    </li>

    <li><a href="tienda.html">Tienda</a></li>
    <li><a href="cuenta.html">Mi Cuenta</a></li>
     <li> <a >Contacto</a>
         <ul>
          <li><a href="https://www.instagram.com/santorini.joyeria/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank">instagram</a></li>

          <li><a href="https://www.facebook.com/joyeriasantorinibga?mibextid=LQQJ4d" target="_blank">Facebok</a></li>

          <li><a href="https://api.whatsapp.com/send?phone=573163465563&text=Hola%20me%20interesa%20" target="_blank">whatsapp</a></li>      
       </ul>
      </li>
    <li><a href="blog.html">Blog</a></li>
  </ul>
</nav>
